@import "@/assets/styles/variables"


main
  display: flex
  justify-content: space-between
  padding-bottom: 100px
.column
  flex: 1
  padding: 10px
.column-header
  color: $black
  font-size: 18px
  font-weight: 500
  line-height: 22px
input
  border-radius: 12px
  border: 1px solid #EEE
  background: #F5F5F5
  padding: 13px
  width: 100%
  margin-top: 24px
  &::placeholder
    color: #777777
    font-size: 16px
    font-weight: 400
    line-height: 20px
.dropdown-toggle
  width: 100%
  border-radius: 12px
  border: 1px solid #EEE
  background: #F5F5F5
  justify-content: space-between
  display: flex
  align-items: center
  padding: 13px
  color: #777777
  font-size: 16px
  font-weight: 400
  line-height: 20px
  margin-top: 24px
.rightbar-header
  color: #333
  font-size: 15px
  font-weight: 500
  line-height: 22px
  margin: 0
.form-control
  border-radius: 12px
  border: 1px solid #EEE
  background: #F5F5F5
.btn-orange
  width: 100%
  border-radius: 12px
.dropdown-menu.show
  width: 100%
.text
  margin-top: 24px

[type="radio"]:checked,
[type="radio"]:not(:checked)
  position: absolute
  left: -9999px

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
  position: relative
  padding-left: 28px
  cursor: pointer
  line-height: 20px
  display: inline-block
  color: #666

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 18px
  height: 18px
  border: 1px solid #ddd
  border-radius: 100%
  background: #fff

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after
  content: ''
  width: 12px
  height: 12px
  background: $orange
  position: absolute
  top: 3px
  left: 3px
  border-radius: 100%
  -webkit-transition: all 0.2s ease
  transition: all 0.2s ease

[type="radio"]:not(:checked) + label:after
  opacity: 0
  -webkit-transform: scale(0)
  transform: scale(0)

[type="radio"]:checked + label:after
  opacity: 1
  -webkit-transform: scale(1)
  transform: scale(1)
.radio-button
  border-radius: 12px
  border: 1px solid #D9D9D9
  background: white
  padding: 13px
  margin-right: 24px
.importImg
  margin: 0 24px
.btn-add
  border-radius: 12px
  border: 1px solid #D9D9D9
  padding: 12px 24px
table
  width: 100%
  th
    padding: 15px 0
    border-top: 1px solid #D9D9D9
    border-bottom: 1px solid #D9D9D9
    color: #333
    font-size: 14px
    font-weight: 300
    line-height: 16px
  td
    padding: 24px 0
    border-bottom: 1px dashed #D9D9D9
    color: #000
    font-size: 16px
    font-style: normal
    font-weight: 400
    line-height: 20px
.table-image
  width: 40px
  height: 40px
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.sizes
  display: flex
  flex-wrap: wrap
  margin: 24px 0
  .size
    display: flex
    align-items: center
    margin: 0 15px 8px 0
    input
      margin: 0 10px 0 0
      padding: 0
      height: initial
      width: initial
      display: none
      cursor: pointer
    label
      position: relative
      cursor: pointer
      &:before
        content: ''
        -webkit-appearance: none
        background-color: $orange
        border-radius: 2px
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05)
        padding: 10px
        display: inline-block
        position: relative
        vertical-align: middle
        cursor: pointer
        margin-right: 5px
    input:checked + label:after
      content: ''
      display: block
      position: absolute
      top: 3px
      left: 8px
      width: 6px
      height: 14px
      border: solid white
      border-width: 0 2px 2px 0
      transform: rotate(45deg)
.image-uploader
  text-align: center

.drop-zone
  padding: 20px
  cursor: pointer
  border-radius: 12px
  border: 1px dashed #D9D9D9
  background: #F5F5F5
  p
    margin-top: 23px
    color: #777
    font-size: 16px
    font-weight: 400
    line-height: 20px

.preview-list
  display: flex
  flex-wrap: wrap
  justify-content: center

.preview-item
  margin: 10px
  position: relative

.preview-item img
  max-width: 100px
  max-height: 100px
  border: 1px solid #ccc
  &:hover
    border: 1px solid #EEE
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat, #F5F5F5

.preview-item button
  position: absolute
  top: 5px
  right: 5px
  background-color: #ff0000
  color: #fff
  border: none
  cursor: pointer

.confirm
  margin-top: 36px
  display: flex
  padding-left: 125px
.image-container
  position: relative
  overflow: hidden

img
  max-width: 100%
  height: auto
  transition: transform 0.3s ease


.overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  transition: opacity 0.3s ease
  svg
    font-size: 40px
    color: white
    transition: opacity 0.3s ease

.image-container:hover img
  transform: scale(0.9)
.image-container:hover .overlay
  opacity: 1
.image-container:hover .fa-icon
  opacity: 1
